.section_3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: darkgray;
  padding-top: 10%;

  h2 {
    color: #efefef;
    margin-left: 10%;
    font-size: 45px;
  }

  .horizontalBar {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 5px;
    background-color: black;
  }

  .verticalBar {
    position: absolute;
    left: 86%;
    width: 5px;
    height: 250px;
    background-color: black;
  }
}
