.section_3 {
  position: relative;
  height: 100vh;
  width: 100vw;
  // background-color: darkgray;
  background: linear-gradient(
    to bottom,
    #a9a9a9,
    #a9a9a9
  ); /* Dégradé linéaire initial */

  // padding-top: 10%;

  h2 {
    color: black;
    height: auto;
    margin-left: 10%;
    // margin-top: 10%;
    font-size: 30px;
    // -webkit-text-stroke: 4px black;
  }

  .contactContainer {
    box-sizing: border-box;
    overflow: hidden;
    height: 45px;
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    padding: 5px 70px 45px 20px;
    background-color: white; /* Couleur de fond : blanc */
    border-radius: 10px; /* Bordures arrondies de 10px */
    border: solid 5px black; /* Bordure noire solide de 5px */
    font-size: 22px; /* Taille de la police : 22px */
    z-index: 2; /* Niveau de superposition : 2 */
  }

  .emailContainer {
    // position: absolute;
    height: auto;
    width: auto;
    background-color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 10px; /* Bordures arrondies de 10px */
    border: solid 5px black; /* Bordure noire solide de 5px */
    padding-top: 10px;
    padding-bottom: 10px;

    padding-right: 20px;
    padding-left: 20px;
    z-index: 3; /* Niveau de superposition : 2 */
    font-size: 20px;

    // position: relative;
    // left: -10%;
    // margin-left: -4%;

    a {
      font-size: 20px;
    }
  }

  .roundedSquare {
    // display: inline-block; /* Pour que la taille s'ajuste au contenu */
    margin: 0; /* Supprime les marges par défaut */
    // padding-top: 5%;
    // padding-bottom: 5px;

    padding-right: 70px;
    padding-left: 20px; /* Ajout de padding pour un espace intérieur autour du texte */
    background-color: white; /* Couleur de fond : blanc */
    border-radius: 10px; /* Bordures arrondies de 10px */
    border: solid 5px black; /* Bordure noire solide de 5px */
    font-size: 22px; /* Taille de la police : 22px */
    z-index: 2; /* Niveau de superposition : 2 */
    h2 {
      margin: 0;
    }
  }

  .section_3_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}

.bluedot {
  color: black;
  // letter-spacing: 1px;
}

.contactLabel {
  font-size: 24px;
  margin-left: 0.5rem;
}
