.section2 {
  box-sizing: border-box; // nouveau
  height: 110vh;
  width: 100vw;
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: visible;
  overflow-x: hidden;
  position: relative;

  &__wrapper {
    padding-left: 4%;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2%;

    &__card {
      height: 600px;
      width: 400px;
      background-color: pink;
      border-radius: 10px;
      border: solid 5px black;
      display: flex;
      flex-direction: column;
      scale: 0.9; // à garder ??
      padding: 20px;
      box-sizing: border-box; // à garder ??

      &__wrapper {
        height: 100%;
        overflow: hidden;

        a {
          text-decoration: none;
          color: inherit;
          background: none;
          border: none;
        }

        &__image-wrapper {
          height: 45%;
          width: 99%;
          border: 1px solid black;
          overflow: hidden;

          &__card-image {
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
            object-fit: cover;
            // regarder pourquoi il y a un réajustement de la taille de l'image ???
          }
        }
        &__card-content {
          &__title {
            font-size: 3rem;
            width: auto;
            margin-top: 5%;
            margin-bottom: 3%;
          }
          &__tags {
            display: flex;
            margin-bottom: 1%;

            &__tag {
              margin-right: 2%;

              height: auto;
              padding-top: 2%;
              padding-bottom: 2%;
              padding-left: 3%;
              padding-right: 3%;
              background-color: grey;
              font-size: 11px;
              // margin-top: 3%;
              // text-align: left;
              // border-radius: 15px;
              // border: 0.01px black solid;
              color: white;
              // -webkit-text-stroke: 0.2px black;
            }
          }
          &__descriptionWrapper {
            height: 135px;
            width: auto;
            overflow: hidden;
            &__text {
              height: 100%;
              font-size: 12.5px;
              margin-top: 5px;
              // white-space: normal;
              // word-wrap: break-word;
              // overflow-wrap: break-word;
              text-align: left;
            }
            &__buttonWrapper {
              display: flex;
              justify-content: flex-start;
              align-content: center;
              width: 100%;
              height: 100%;
              // padding-right: 30px;
              // background-color: orange;
              // margin-right: 10px;
              &__button {
                font-size: 0.8em;
                margin-right: 5px;
                margin-top: 4%;
                text-align: right;
                height: auto;
                width: auto;
                background-color: #0c7be7;
                color: yellow;
                border-radius: 15px;
                border: 1px solid black;
                padding: 8px 12px;
                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  //=============================================================================================================================================

  // VERSION MOBILE
  @media (max-width: 1000px) {
    box-sizing: border-box;
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: visible;

    &__wrapper {
      padding-left: 4%;
      box-sizing: border-box;

      width: 100%;
      position: relative;
      display: grid;
      grid-template-columns: repeat(
        2,
        calc(50% - 3%)
      ); // 2 colonnes avec ajustement pour le padding
      row-gap: -10px; // Supprimer l'espace vertical entre les lignes
      column-gap: 2%; // Garder l'espace horizontal
      grid-auto-rows: auto;
      align-items: start;
      grid-auto-rows: 32%;

      &__card {
        box-sizing: border-box;

        height: 100%; // Hauteur automatique pour s'adapter au contenu
        width: 100%; // Largeur de 100% de la colonne
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        // background-color: white;

        &__wrapper {
          overflow: hidden;

          &__image-wrapper {
            height: 40%;
            width: 99%;
            border: 1px solid black;
            overflow: hidden;

            &__card-image {
              max-width: 100%;
              max-height: 100%;
              display: block;
              margin: auto;
              object-fit: cover;
              // regarder pourquoi il y a un réajustement de la taille de l'image ???
            }
          }

          &__card-content {
            overflow: hidden;
            &-description {
              height: 10%;
              font-size: 12.5px;
              margin-top: 5px;
              // white-space: normal;
              // word-wrap: break-word;
              // overflow-wrap: break-word;
              text-align: left;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
