.container {
  width: 100%;
  min-height: 200vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // gap: 1000px;
}

.element {
  height: 100px;
  width: 100px;
  background-color: pink;
}

.horizontalElement {
  height: 100px;
  width: 100px;
  background-color: pink;
}

.section_1 {
  height: 100vh;
  width: 100%;
  background-color: green;
  padding-left: 300px;
}
.section_2 {
  height: 100vh;
  width: 100%;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
