.container {
  width: 100%;
  min-height: 200vh;
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0;
}

.section_1 {
  height: 100vh;
  width: 100vw;
  background-color: darkgray;
}

.roundedSquare1 {
  padding: 20px;

  height: 200px;
  width: 400px;
  background-color: white;
  margin-left: 36%;
  margin-top: 20vh;
  border-radius: 10px;
  border: solid 5px black;
  display: flex;
  justify-content: center;
  font-size: 45px;
  padding-top: 10px;
  z-index: 1;
}

.roundedSquare2 {
  padding: 20px;
  position: absolute;
  top: 9%;
  height: 250px;
  width: 400px;
  background-color: white;
  margin-left: 27%;
  margin-top: 20vh;
  border-radius: 10px;
  border: solid 5px black;
  font-size: 28px;
  padding-top: 10px;
  z-index: 2;
  span {
    display: block;
  }
}

.roundedSquare3 {
  padding: 20px;

  position: absolute;
  top: 10%;
  height: 300px;
  width: 400px;
  background-color: white;
  margin-left: 48%;
  margin-top: 25vh;
  border-radius: 10px;
  border: solid 5px black;

  font-size: 28px;
  padding-top: 10px;
  z-index: 3;
  span {
    display: block;
  }
}

.elementVertical {
  height: 100px;
  width: 100px;
  background-color: yellow;
  margin-left: 300px;
  margin-top: 300px;
  border-radius: 10px;
  // border: solid 5px black;
}
.section_2 {
  height: 100vh;
  width: 100vw;
  background-color: darkgrey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 150px;
  overflow: hidden;
  position: relative;

  &__wrapper {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 3000px;
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    gap: 2%;
    // background-color: #fff;
  }
}

.horizontalElement {
  height: 500px;
  width: 300px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: solid 5px black;
  scale: 0.9;
}

.section2And3Container {
  display: flex;
  flex-direction: row;
  gap: 0;
  width: 10 0%;
  height: 100vh;
  left: 0;
  justify-content: flex-start;
  // background-color: red;
  padding: 0;
}

.section_3 {
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  align-items: center;
  h2 {
    color: pink;
    margin-left: 10%;
    font-size: 45px;
  }
}
