.container{
  width: 100%;
  height: 100vh;
  background-color: yellow;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.parallax-container {
  height: 100vh;
  overflow: hidden;
  perspective: 1000px; /* Réglez la perspective pour un effet 3D */
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}